@page "{handler?}"
@model IndexModel
@{
    ViewData["ApplicationName"] = "Workout Buddy";
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-12">

        <div class="card align-items-center border-0 text-center">

            <div class="card-body">

                <h1 class="card-title">Welcome to @ViewData["ApplicationName"] !</h1>

                <ul class="list-group list-group-horizontal">
                    <a asp-page="tutorial" class="list-group-item list-group-item-action border-0">Tutorial</a>
                    <a asp-page="faq" class="list-group-item list-group-item-action border-0 border-right">FAQ</a>
                    <a asp-page="contact" class="list-group-item list-group-item-action border-0">Contact Us</a>
                </ul>

            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-12">

        <div class="card align-items-center border-0 text-center p-4">

            <div class="card-body">

                <p>Bunch o text</p>

                <a asp-page="musclegroup/index" role="button" class="btn btn-primary" aria-pressed="true">Get Started as as guest!</a>
                <a asp-area="Identity" asp-page="/Account/Login" role="button" class="btn btn-primary" aria-pressed="true">Login!</a>
            </div>
        </div>

    </div>
</div>