@page "{handler?}"
@model WorkoutGen.Pages.Equipment.IndexModel
@{
    ViewData["Title"] = "Equipment";
}

<div class="row mb-3">
    <div class="col-2"></div>
    <div class="col-md-8">
        <div class="card text-center">
            <div class="card-header">
                Muscle Groups Selected
            </div>
            <div class="card-body">
                @if (Model.MuscleGroups != null)
                {
                    foreach (Models.MuscleGroup mg in Model.MuscleGroups)
                    {
                        <span class="badge badge-dark p-2">@mg.Name</span>
                    }
                }
                <div class="text-center mt-2">
                    <a class="btn btn-danger" asp-page="/musclegroup/index" role="button">Back to muscle groups</a>
                </div>
            </div>
        </div>

    </div>
    <div class="col-2"></div>
</div>

<div class="row">
    <div class="col-2"></div>
    <div class="col-md-8">

        <form id="formEquipment" method="post" asp-page="/exercises/index">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row mb-2">

                <div class="form-group col-md-12">
                    <label class="font-weight-bold" for="select2_equipment">Select equipment</label>
                    <select id="select2_equipment" asp-for="EquipmentIds" name="equipmentIds[]" multiple="multiple" asp-items="Model.Options_Equipment" class="form-control"></select>
                    <p class="text-center"><span id="eCount" class="font-weight-bold">@Model.ExerciseCount</span> exercises available with this set</p>
                </div>

            </div>

            <div class="form-group text-center">
                <input id="btnGenerateExercise" type="submit" value="Generate exercise" class="btn btn-lg btn-primary btn-lg @ClassDisplay()" />
            </div>

        </form>

    </div>
    <div class="col-2"></div>
</div>

@section Scripts
{

    <partial name="_ValidationScriptsPartial" />
    <script>
        const muscleGroupIds = @Json.Serialize(Model.MuscleGroupIds);
    </script>
    <script src="~/js/equipment.js"></script>
}
@functions{

    public string ClassDisplay()
    {
        string className = "";

        if (Model.ExerciseCount == 0)
            className = "d-none";

        return className;
    }
}