@*
    Name: Brett Snyder
    Date: 12/12/2019
    Course: CMSC 495 - Current Trends And Projects in Computer Science
    Desc: This page is where the user selects their equipment and user sets if they have an account
*@

@page "{handler?}"
@model WorkoutGen.Pages.Equipment.IndexModel
@using WorkoutGen.Data.Session;
@using WorkoutGen.Models;
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Equipment";
    //var workoutId = HttpContext.Session.Get<int>("WorkoutId");
}

<div class="text-center">
    <h1>Equipment selection</h1>
    @*@if (workoutId != 0)
        {
            <a asp-page="/Exercises/Index">Back to workout</a>
        }*@
</div>
<hr />
<div class="row mb-3">
    <div class="col-2"></div>
    <div class="col-md-8">
        <div class="card text-center">
            <div class="card-header">
                Muscle Groups Selected
            </div>
            <div class="card-body">
                @if (Model.MuscleGroups != null)
                {
                    foreach (Models.MuscleGroup mg in Model.MuscleGroups)
                    {
                        <span class="badge badge-dark p-2">@mg.Name</span>
                    }
                }
                <div class="text-center mt-2">
                    <a class="btn btn-danger" asp-page="/musclegroup/index" role="button">Back to muscle groups</a>
                </div>
            </div>
        </div>

    </div>
    <div class="col-2"></div>
</div>

<div class="row">
    <div class="col-2"></div>
    <div class="col-md-8">

        <form id="formEquipment" method="post" asp-page="/exercises/index">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row mb-2">

                @if (SignInManager.IsSignedIn(User) && Model.Options_EquipmentSets.Count() > 0)
                {
                    <div class="form-group col-md-12">
                        <label class="font-weight-bold" for="select_equipment_sets">Select an equipment set</label>
                        <select id="select_equipment_sets" asp-for="EquipmentSetId" asp-items="Model.Options_EquipmentSets" class="form-control">
                            <option value="-1">Choose Equipment Set</option>
                        </select>
                    </div>
                }

                <div class="form-group col-md-12">
                    <label class="font-weight-bold" for="select2_equipment">Select equipment</label>
                    <select id="select2_equipment" asp-for="EquipmentIds" name="equipmentIds[]" multiple="multiple" asp-items="Model.Options_Equipment" class="form-control"></select>
                    <div class="row mt-2">
                        <div class="col-6">
                            <button id="btnSelectAll" type="button" class="btn btn-lg btn-block btn-primary">Select all</button>
                        </div>
                        <div class="col-6">
                            <button id="btnClearSelection" type="button" class="btn btn-lg btn-block btn-danger">Clear selection</button>
                        </div>
                    </div>
                </div>

            </div>

            <div class="form-group text-center">
                <p class="text-center"><span id="eCount" class="font-weight-bold">@Model.ExerciseCount</span> exercise(s) available with this set</p>
                <input id="btnGenerateExercise" type="submit" value="Generate workout" class="btn btn-lg btn-primary btn-lg @ClassDisplay()" />
            </div>

        </form>

    </div>
    <div class="col-2"></div>
</div>

@section Scripts
{

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
            const muscleGroupIds = @Json.Serialize(Model.MuscleGroupIds);
    </script>

    <environment include="Development">
        <script src="~/js/equipment.js"></script>
    </environment>

    <environment exclude="Development">
        <script src="~/js/equipment.min.js"></script>
    </environment>

}
@functions{

    public string ClassDisplay()
    {
        string className = "";

        if (Model.ExerciseCount == 0)
            className = "d-none";

        return className;
    }
}
