@page
@model WorkoutGen.Pages.Exercises.CreateModel
@using Models;
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>UserExercise</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="UserExercise.UserId" value="@UserManager.GetUserAsync(User).Result.Id" />

            <div class="form-group">
                <label asp-for="UserExercise.Name" class="control-label"></label>
                <input asp-for="UserExercise.Name" class="form-control" />
                <span asp-validation-for="UserExercise.Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UserExercise.Description" class="control-label"></label>
                <textarea asp-for="UserExercise.Description" class="form-control"></textarea>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-page="/Account/Manage/MyAccount" asp-area="Identity">Back to My Account</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
