@page
@model WorkoutGen.Pages.Exercises.CreateModel
@using Models;
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Create";
}

<div class="text-center">
    <h1>Create an exercise</h1>
    <a asp-page="/Account/Manage/MyAccount" asp-area="Identity">Back to My Account</a>
</div>
<hr />
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form method="post">

            <div asp-validation-summary="All" class="text-danger text-center"></div>

            <input type="hidden" asp-for="UserExercise.UserId" value="@UserManager.GetUserAsync(User).Result.Id" />

            <div class="form-group">
                <label asp-for="UserExercise.Name" class="control-label"></label>
                <input asp-for="UserExercise.Name" class="form-control" />
                <span asp-validation-for="UserExercise.Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UserExercise.Description" class="control-label"></label>
                <textarea asp-for="UserExercise.Description" class="form-control" rows="5" style="resize: none;"></textarea>
            </div>

            <div class="form-group">
                <label asp-for="UserExercise.Hyperlink" class="control-label"></label>
                <input asp-for="UserExercise.Hyperlink" class="form-control" />
                <span asp-validation-for="UserExercise.Hyperlink" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="font-weight-bold" for="select2_muscle_groups">Select muscle group(s)</label>
                <select id="select2_muscle_groups" asp-for="MuscleGroupIds" name="muscleGroupIds[]" multiple="multiple" asp-items="Model.Options_MuscleGroups" class="form-control"></select>
                <span asp-validation-for="MuscleGroupIds" class="text-danger"></span>
                <div class="row mt-2">
                    <div class="col-6">
                        <button type="button" class="btn btn-lg btn-block btn-primary btnSelectAll">Select all</button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-lg btn-block btn-danger btnClearSelection">Clear selection</button>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="font-weight-bold" for="select2_equipment">Select equipment</label>
                <select id="select2_equipment" asp-for="EquipmentIds" name="equipmentIds[]" multiple="multiple" asp-items="Model.Options_Equipment" class="form-control"></select>
                <span asp-validation-for="EquipmentIds" class="text-danger"></span>
                <div class="row mt-2">
                    <div class="col-6">
                        <button type="button" class="btn btn-lg btn-block btn-primary btnSelectAll">Select all</button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-lg btn-block btn-danger btnClearSelection">Clear selection</button>
                    </div>
                </div>
            </div>

            <div class="form-group mt-4 text-center">
                <input type="submit" value="Save" class="btn btn-lg btn-primary" />
            </div>

        </form>
    </div>
    <div class="col-md-3"></div>
</div>

@section Scripts {
    <script src="~/js/user_exercise_create.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
