@*
    Name: Brett Snyder
    Date: 12/12/2019
    Course: CMSC 495 - Current Trends And Projects in Computer Science
    Desc: This page is where the user edits their exercises
*@

@page "{id?}"
@model WorkoutGen.Pages.Exercises.EditModel
@using Models;
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Edit";
}

<div class="text-center">
    <h1>Edit @Model.UserExercise.Name</h1>
    <a asp-page="/Account/Manage/MyAccount" asp-area="Identity">Back to My Account</a>
</div>
<hr />
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form id="formEditExercise" method="post">

            <div asp-validation-summary="All" class="text-danger text-center"></div>

            <input type="hidden" asp-for="UserExercise.Id" />
            <input type="hidden" asp-for="UserExercise.UserId" value="@UserManager.GetUserAsync(User).Result.Id" />
            <input type="hidden" asp-for="UserExercise.DateAdded" />
            <input type="hidden" asp-for="UserExercise.DateDeleted" />

            <div class="form-group">
                <label asp-for="UserExercise.Name" class="control-label"></label>
                <input asp-for="UserExercise.Name" class="form-control" />
                <span asp-validation-for="UserExercise.Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UserExercise.Description" class="control-label"></label>
                <textarea asp-for="UserExercise.Description" class="form-control" rows="5" style="resize: none;"></textarea>
                <span asp-validation-for="UserExercise.Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UserExercise.Hyperlink" class="control-label"></label>
                <input asp-for="UserExercise.Hyperlink" class="form-control" />
                <span asp-validation-for="UserExercise.Hyperlink" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="font-weight-bold" for="select2_muscle_groups">Select muscle group(s)</label>
                <select id="select2_muscle_groups" asp-for="MuscleGroupIds" name="muscleGroupIds[]" multiple="multiple" asp-items="Model.Options_MuscleGroups" class="form-control"></select>
                <span asp-validation-for="MuscleGroupIds" class="text-danger"></span>
                <div class="row mt-2">
                    <div class="col-6">
                        <button type="button" class="btn btn-lg btn-block btn-primary btnSelectAll">Select all</button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-lg btn-block btn-danger btnClearSelection">Clear selection</button>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="font-weight-bold" for="select2_equipment">Select equipment</label>
                <select id="select2_equipment" asp-for="EquipmentIds" name="equipmentIds[]" multiple="multiple" asp-items="Model.Options_Equipment" class="form-control"></select>
                <span asp-validation-for="EquipmentIds" class="text-danger"></span>
                <div class="row mt-2">
                    <div class="col-6">
                        <button type="button" class="btn btn-lg btn-block btn-primary btnSelectAll">Select all</button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-lg btn-block btn-danger btnClearSelection">Clear selection</button>
                    </div>
                </div>
            </div>

            <div class="form-group mt-2 text-center">
                <input type="submit" value="Save" class="btn btn-lg btn-primary" />
                <input type="button" class="btn btn-lg btn-danger" value="Delete" data-toggle="modal" data-target="#modalDeleteExercise" />
            </div>

        </form>
    </div>
    <div class="col-md-3"></div>
</div>

<div class="modal fade" id="modalDeleteExercise" tabindex="-1" role="dialog" aria-labelledby="modalDeleteExerciseLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content text-center">
            <div class="modal-header text-center">
                <h5 class="modal-title w-100" id="modalDeleteExerciseLabel">Delete Exercise</h5>
            </div>
            <div class="modal-body">

                <p>Are you sure that you want to delete this exercise?</p>

                <button type="button" class="btn btn-lg btn-danger" data-dismiss="modal">No</button>
                <button id="btnDeleteExercise" type="submit" class="btn btn-lg btn-success">Yes</button>

            </div>
        </div>
    </div>
</div>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <environment include="Development">
        <script src="~/js/user_exercise_edit.js"></script>
    </environment>

    <environment exclude="Development">
        <script src="~/js/user_exercise_edit.min.js"></script>
    </environment>
}
