@page
@model WorkoutGen.Pages.Exercises.HistoryModel
@{
    ViewData["Title"] = "History";
}

<h1>History</h1>

@foreach (Models.Exercise e in Model.Exercises)
{
    <div class="font-weight-bold">@e.Name</div>
    @foreach (Set set in Model.Sets)
    {
        if (set.exerciseId == e.Id)
        {
            <div>@set.set</div>
        }
    }
}

<form method="get" asp-page="/MuscleGroup/Index">
    <button type="submit" class="btn btn-primary">Start a new workout</button>
</form>