@page "{handler?}"
@model WorkoutGen.Pages.MuscleGroup.IndexModel
@using WorkoutGen.Data.Session;
@{
    ViewData["Title"] = "Muscle Groups";
    //var workoutId = HttpContext.Session.Get<int>("WorkoutId");
}

<div class="text-center">
    <h1>Muscle Group selection</h1>
    @*@if (workoutId != 0)
        {
            <a asp-page="/Exercises/Index">Back to workout</a>
        }*@
</div>
<hr />
<div class="row">
    <div class="col-2"></div>
    <div class="col-md-8">

        <form id="formMuscleGroups" method="post" asp-page="/equipment/index">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row mb-2">

                <div class="form-group col-12">
                    <label class="font-weight-bold" for="select2_muscle_groups">Select muscle group(s)</label>
                    <select id="select2_muscle_groups" asp-for="MuscleGroupIds" name="muscleGroupIds[]" multiple="multiple" asp-items="Model.Options_MuscleGroups" class="form-control"></select>
                    <div class="row mt-2">
                        <div class="col-6">
                            <button id="btnSelectAll" type="button" class="btn btn-lg btn-block btn-primary">Select all</button>
                        </div>
                        <div class="col-6">
                            <button id="btnClearSelection" type="button" class="btn btn-lg btn-block btn-danger">Clear selection</button>
                        </div>
                    </div>
                </div>

            </div>

            <div class="form-group text-center">
                <input id="btnContinue" type="submit" value="Continue to equipment" class="btn btn-lg btn-primary @ClassDisplay()" />
            </div>

        </form>

    </div>
    <div class="col-2"></div>
</div>

@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <environment include="Development">
        <script src="~/js/muscle_group.js"></script>
    </environment>

    <environment exclude="Development">
        <script src="~/js/muscle_group.min.js"></script>
    </environment>
}
@functions{

    // Checks model state to see if there are any muscle groups selected and hides/shows continue button accordingly
    public string ClassDisplay()
    {
        string className = "";

        if (Model.MuscleGroupIds.Length == 0)
            className = "d-none";

        return className;
    }
}